.banner {
    z-index: 0;
    position: relative;
    &__left {
        div {
            width: 100%;
            height: 235px;
            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
    }
    &__right {
        width: 100%;
        height: 235px;
        div {
            height:calc(50% - 3px) ;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:first-child {
                margin-bottom: 6px;
            }
        }
        
    }
}