.layout {
    &__header {
        position: sticky !important;
        left: 0;
        top: 0;
        z-index: 999;
    }
    &__content {
        margin: 35px 0px;
    }
    &__footer {
        background: #F95030;
        text-align: center;
        color: #fff;
        ul {
            margin:0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }
        a {
            color: #fff;
        }
        li {
            border-right: 1px solid #ddd;
            padding: 0px 20px;
            cursor: pointer;
            &:hover {
                color: yellow
            }
        }


        
    }
}